/.github            export-ignore
/docs               export-ignore
/tests              export-ignore
.gitignore          export-ignore
.gitattributes      export-ignore
phpstan.neon.dist   export-ignore
phpunit.xml.dist    export-ignore
pint.json           export-ignore
CHANGELOG.md        export-ignore
README.md           export-ignore
rector.php          export-ignore